h2 {
    margin-top: 3vw;
    margin-bottom: 3vw;
}

section {
    border: solid 2px;
    border-color: rgba(0, 247, 255, 0.521);
    background-color: rgba(255, 255, 255, 0.808);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 5px 10px 15px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 3vw;
    margin-bottom: 20px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
}

table {
    font-size: 1.5em;
}

#tabla-posiciones {
    font-family: "Handlee", cursive;
}

.logo-equipo-sm{
    width: 40px;
    height: 40px;
}

.logo-equipo-sm2{
    width: 30px;
    height: 40px;
}

.th-logo {
    width: 50px;
    height: 50px;
}

h3 {
    font-family: "Handlee", cursive;
    font-size: 225%;
}

.resultado {
    width: 50px;
}

.Rayo {
    background: radial-gradient(rgb(11, 132, 202),rgb(11, 31, 148));
    text-shadow: 1px 1px 2px azure ;
}

.Ayala {
    background: radial-gradient(rgb(34, 174, 255),rgb(4, 112, 175));
    text-shadow: 1px 1px 2px azure ;
}

.Stanli {
    background: radial-gradient(rgb(211, 34, 255),rgb(107, 0, 71));
    text-shadow: 1px 1px 2px azure ;
}

.Santy {
    background: radial-gradient(rgb(34, 255, 108),rgb(0, 114, 34));
    text-shadow: 1px 1px 2px azure ;
}

.Diego {
    background: radial-gradient(rgb(235, 16, 0),rgb(136, 1, 1));
    text-shadow: 1px 1px 2px azure ;
}

.Makein {
    background: radial-gradient(rgb(251, 255, 34),rgb(175, 144, 4));
    text-shadow: 1px 1px 2px azure ;
    border: 4px solid transparent;
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%)
}

.th-long{
    width: 100px;
}

.th-logo2{
    width: 65px;
}

.th-sm {
    width: 60px;
}

#fecha1,
#fecha2,
#fecha3,
#fecha4,
#fecha5 {
    font-family: 'Sriracha', cursive;
}

#tabla-eliminatoria th,
#tabla-eliminatoria td{
    border: none;
}

#tabla-eliminatoria {
    border: none;
    table-layout: unset !important; 
}

.espacio-sm {
    width: 20px;
}

.nombre {
    width: 100px;
}

.borde {
    border: 2px solid darkblue !important;
}
.lineaFinal {
    width: 40px !important;
}

.logo-finales {
    width: 45px !important;
}

.vs {
    width: 35px !important;
}

.res-final {
    width: 25px !important;
}